<div class="ms-2 gap-3">
  <button
    class="color_green mt-2"
    mat-mini-fab
    matTooltip="Añadir"
    (click)="addPerson()"
  >
    <mat-icon>person_add</mat-icon>
  </button>
  <button
    class="color_green ms-2"
    mat-mini-fab
    matTooltip="Descargar EXCEL"
    (click)="downloadExcel()"
  >
    <mat-icon>download</mat-icon>
  </button>
</div>

<class-table
  [data]="Persons"
  [column]="tableColumns"
  [isLoading]="isLodingPerson"
  [config]="tableConfig"
  [sortingDataAccessor]="getSortingDataAccesor()"
  (selectRowEvent)="onSelectRows($event)"
/>

<ng-template #colActions let-row>
  <div class="button-container">
    <button
      class="color_blue"
      matTooltip="Editar"
      mat-mini-fab
      (click)="editPerson(row)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
    class="color_red"
    matTooltip="Eliminar"
    mat-mini-fab
    (click)="deletePerson(row)"
  >
    <mat-icon>delete</mat-icon>
  </button>
  </div>
</ng-template>
